################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Initial_CSharp_0065/v16
/CSharp_Classes/bin/Debug
/CSharp_Classes/obj/Debug
/Ado.Net_CSharp_0065/bin/Debug
/Ado.Net_CSharp_0065/obj/Debug
